.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.pareont{
position: relative;width: 420px;height: 200px;font-size: 0px;
}
.child {
    position: relative;
    display: inline-table;
    width: 200px;
    height: 200px;
    border: 2px solid #90A4AE;
    font-size: 14px;
}
.avatar-img{
    margin-left: 10px; margin-top: 10px; text-align: center}
.image{ border-radius: 100%;margin-top: -30px; margin-left: 87px;border: 3px solid white}
h2{
    font-size: 5px; margin-left: 88px; margin-top: -3px;font-family: inherit;
}
h1{
    font-size: 12px; margin-left: 18px;
}
h5{margin-top: 1px; margin-left: 83px; font-size: 4px; color: darkslategray;}
h3{font-size: 5px; margin-left: 10px; margin-right: 10px; font-weight: bold; color: dimgray; }
p{ font-size: 5px; color: gray; margin-right:  10px; margin-left: 10px; }
h4{font-size: 7px;margin-left: 10px;}
#divider{clear: both;
    border: 1px solid grey; margin: 5px 0;
}
.comment{float: left; margin-left: 10px;  font-size: 7px; margin-bottom: 10px;}
.date{clear: both; float: right; font-size: 7px; margin-top: -19px; margin-right: 10px; }
